.Item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 10px;
}

.Item-image {
    max-width: 150px;
    max-height: 150px;

}

.Item-body {

}