.Item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    margin: 5px;
    padding: 10px;
    border: solid 1px rgb(179, 179, 179);
}

.Item-image {
    max-width: 150px;
    max-height: 150px;

}

.Item-body {

}